# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Swap files
*.swp

# Steampipe variable files
*.spvars
*.auto.spvars

# Steampipe mod depdencies
.steampipe

# Cache json files
*.cache.json

# Ignore Desktop Services Store files
.DS_Store
