# Dimensions
# Passing Variables for Dependency Mods, refer https://steampipe.io/docs/mods/mod-variables#passing-variables-for-dependency-mods
aws_compliance.common_dimensions = ["account_id", "region"]
aws_compliance.tag_dimensions = []
